.header {
  padding: 20px;
}

.header__navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__list-item {
  margin: 0 15px;
}

.header__navbar-2 {
  padding: 20px;
}

.navbar__list-item--logo {
  margin-right: 50px;
}

img {
  width: 100%;
  height: 100%;
}

button {
  background-color: rgb(255, 57, 57);
  color: linen;
  padding: 3px 5px;
  cursor: pointer;
}

.navbar__list--adjusted {
  justify-content: center;
}

.section1 {
  display: grid;
  width: 90%;
  margin: auto;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-template-areas:
    "box1 box2 box3 box3"
    "box4 box4 box3 box3"
    "box4 box4 box5 box6"
    "box7 box7 box8 box9"
    "box7 box7 box10 box11"
    "box12 box13 box14 box15"
    "box16 box17 box18 .";
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.box7 {
  grid-area: box7;
}

.box8 {
  grid-area: box8;
}

.box9 {
  grid-area: box9;
  background-color: cyan;
}

.box10 {
  grid-area: box10;
}

.box11 {
  grid-area: box11;
}

.box12 {
  grid-area: box12;
}

.box13 {
  grid-area: box13;
  background-color: cyan;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 200px;
  margin: 0 auto;
}

.bla {
  width: 90%;
}

.box14 {
  grid-area: box14;
}

.box15 {
  grid-area: box15;
}

.box16 {
  grid-area: box16;
}

.box17 {
  grid-area: box17;
}

.box18 {
  grid-area: box18;
}

.box18__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 118px 118px;
}

.section2 {
  display: flex;
  padding: 150px 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.section2__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 30px;
  flex: 1 100px;
}

.section2__box h2 {
  padding: 10px;
}

.footer {
  background-color: rgb(29, 29, 29);
  color: linen;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin-right: 100px;
}

@media (max-width: 1024px) {
  .navbar__list-item--logo {
    display: none;
  }
  .section1 {
    width: 95%;
  }

  .footer__navbar .navbar__list-item:nth-child(4){
    display: none;
  }

  .footer__navbar .navbar__list-item:nth-child(5){
    display: none;
  }
  .footer p {
    display: none;
  }

.section2 {
  padding: 40px;
}
  .section1 {
    display: grid;
    width: 90%;
    margin: auto;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-areas:
      "box1 box2"
      "box3 box3"
      "box4 box5"
      "box6 box7"
      "box8 box9"
      "box10 box11"
      "box12 box13"
      "box14 box15"
      "box16 box17"
      "box18 .";
  }
  
}

@media (max-width: 655px) {
  header .navbar__list-item:nth-child(7) {
    display: none;
  }
  header .navbar__list-item:nth-child(8) {
    display: none;
  }
  .header__navbar-2 .navbar__list-item:nth-child(6) {
    display: none;
  }
  button {
    display: none;
  }
}
